<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049116415004-pc1ck63u86hbqa2562fhmag4temnumc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049116415004-pc1ck63u86hbqa2562fhmag4temnumc0</string>
	<key>API_KEY</key>
	<string>AIzaSyDFykHNndPS2HXgKQOCuJroHLh_tuFWANw</string>
	<key>GCM_SENDER_ID</key>
	<string>1049116415004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AuthenticationAssignment</string>
	<key>PROJECT_ID</key>
	<string>rn-assignment-523b3</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-assignment-523b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049116415004:ios:cf6f30c3c55869cc85bbd9</string>
</dict>
</plist>